@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@200&display=swap');

body {
  align-items: center;
}

.home {
  flex: 1;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  column-rule-style: dotted;
}

.patrik {
  width: 345px;
  border-radius: 10px;
}

.music {
  margin-top: 10px;
  margin-left: 18px;
}

#title {
  font-family: 'Roboto', Sans-Serif;
}
#katakata {
  font-family: 'Anek Malayalam', Sans-Serif;
  font-weight: 700;
}

.bttn {
  margin-bottom: 20px;
}